:root {
    --clr-primary-100: hsl(0, 0%, 88%);
    --clr-primary-200: hsl(0, 0%, 55%);
    --clr-primary-400: hsl(0, 0%, 41%);

    --ff-primary: 'Josefin Sans', sans-serif;
    --ff-secondary: 'Alata', sans-serif;
}

body {
    font-family: var(--ff-primary);
}

.container {
    width: min(85%, 72.5em);
    margin-inline: auto;
    padding: 2.5em 0;

    @media(max-width: 782px) {
        text-align: center;
    }
}

p {
    text-transform: none;
}

:not(p) {
    text-transform: uppercase;
}

.twitter-img {
    height: 24px;
}